<template>
  <section class="lg:mx-desktop bg-blue-100 rounded-3xl mt-4 relative">
    <div class="flex">
      <div class="basis-1/2 pl-20 pt-24 relative">
        <div
          class="absolute lg:block hidden rounded-2xl p-4 bg-white bottom-4 z-40 hover:scale-100 hover:shadow-lg shadow shadow-black/5 transition-all duration-300 left-3/4"
        >
          
          <img src="number.jpg" class="mx-auto" alt="" />
          <p>80%</p>
          <h1 class="text-lg">inverstory</h1>
        </div>
        <h1
          class="font-bold text-4xl leading-[1.15] relative z-40 animate-pulse"
        >
          Lorem ipsum, dolor sit amet <br />consectetur adipisicing elit.
          Distinctio<br />, consequuntur?
        </h1>
        <p class="mt-3 text-gray-500 font-medium text-xl">
          Lorem ipsum dolor sit amet.
        </p>
        <p class="mt-3 text-gray-500 font-medium text-xl">
          Research the website .
        </p>
        <div class="mt-12 h-20">
          <Nuxt-link
            class="border border-transparent hover:border-[#3e3e3e] py-5 px-10 rounded-full font-medium text-white bg-black transition-all"
            to="#"
            >GetStarted</Nuxt-link
          >
        </div>
      </div>
      <div class="basic-1/2 left-5 lg:block relative overflow-hidden hidden">
        <img class="object-cover w-full p-3 h-full" src="man.jpg" alt="" />
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
