<template>
    <div>
  <header class="flex sticky top-0 bg-white/80 items-center justify-between p-7 lg:px-desktop mx-auto">
<Nuxt-link to='/'>
    <h1 class="font-bold text-2xl">GRO. <span class="text-red-600">PRO</span></h1>
</Nuxt-link>
<ul class="lg:flex hidden items-center space-x-14">
    <li class="group" v-for="link in links" :key="link.id">
        <Nuxt-link to="#" class="font-medium group-hover:text-black transition-all duration-300"> {{link.name}}</Nuxt-link>
        <div class="h-0.5 mt-0.5 group-hover:scale-y-100 group-hover:bg-black group-hover:block w-[80%] transition-all duration-300"></div>
        </li>
</ul>
<div class="space-x-8 hidden lg:block">
    <Nuxt-link to="#">login</Nuxt-link>
    <Nuxt-link class="border border-black py-3 px-7 rounded-full font-medium hover:text-white hover:bg-black transition-all" to="#">Register</Nuxt-link>
</div>
  </header>
  <Nuxt/>
</div>
</template>
<script>
import {mapState} from "vuex"
export default{
computed:{
    ...mapState({
        links:state=>state.links
    })
}
}
</script>

<style>

</style>